[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
pytest = "*"
awsebcli = "*"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
psycopg2-binary = "*"
requests = "*"
bs4 = "*"
lxml = "*"
pypika = "*"
pandas = "*"
asyncpg = "*"
databases = {extras = ["postgresql"], version = "*"}

[requires]
python_version = "3"
